<div class="promo-carousel" *ngIf="books.length > 0">
  <button
    *ngIf="books.length > 1"
    type="button"
    class="nav-arrow left"
    aria-label="Promoția anterioară"
    [disabled]="currentSlide === 0"
    (click)="prevSlide()"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="slider">
    <div
      class="slider-track"
      [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
    >
      <button
        *ngFor="let book of books"
        type="button"
        class="promo-slide"
        [attr.aria-label]="'Vezi detalii pentru ' + book.bookName"
        (click)="goToSpecificBook(book.bookId)"
      >
        <img
          *ngIf="book.promoImageUrl"
          [src]="getImageUrl(book.promoImageUrl)"
          [alt]="book.bookName"
        />
      </button>
    </div>
  </div>

  <button
    *ngIf="books.length > 1"
    type="button"
    class="nav-arrow right"
    aria-label="Promoția următoare"
    [disabled]="currentSlide === books.length - 1"
    (click)="nextSlide()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
