<mat-card class="payment-card">
  <app-checkout-section-header
    [step]="4"
    title="Plată"
    description="Alege metoda prin care dorești să achiți comanda."
  ></app-checkout-section-header>

  <div [formGroup]="form">
    <mat-radio-group class="payment-options" formControlName="method">
      <div
        class="payment-option"
        [class.selected]="
          form.get('method')?.value === paymentMethod.CashOnDelivery
        "
        (click)="selectMethod(paymentMethod.CashOnDelivery)"
      >
        <mat-radio-button
          color="primary"
          [value]="paymentMethod.CashOnDelivery"
          (click)="$event.stopPropagation()"
        ></mat-radio-button>

        <div class="option-content">
          <div class="option-title">
            <mat-icon>payments</mat-icon>
            <span>Plată ramburs</span>
          </div>

          <p>Plătești numerar la livrarea coletului.</p>
        </div>
      </div>

      <div class="payment-option disabled">
        <mat-radio-button
          color="primary"
          [value]="paymentMethod.Card"
          disabled
        ></mat-radio-button>

        <div class="option-content">
          <div class="option-title">
            <mat-icon>credit_card</mat-icon>
            <span>Card bancar</span>

            <span class="coming-soon-badge"> În curând </span>
          </div>

          <p>Plata online va fi disponibilă într-o versiune viitoare.</p>
        </div>
      </div>

      <div
        class="payment-option"
        [class.selected]="
          form.get('method')?.value === paymentMethod.BankTransfer
        "
        (click)="selectMethod(paymentMethod.BankTransfer)"
      >
        <mat-radio-button
          color="primary"
          [value]="paymentMethod.BankTransfer"
          (click)="$event.stopPropagation()"
        ></mat-radio-button>

        <div class="option-content">
          <div class="option-title">
            <mat-icon>account_balance</mat-icon>
            <span>Transfer bancar</span>
          </div>

          <p>Vei primi factura proformă pe email.</p>
        </div>
      </div>
    </mat-radio-group>
  </div>
</mat-card>
