<div class="action-buttons">
  <button
    mat-flat-button
    type="button"
    class="cart-button"
    [disabled]="!inStock"
    (click)="onAddToCart()"
  >
    <mat-icon>shopping_cart</mat-icon>
    Adaugă în coș
  </button>

  <button
    mat-stroked-button
    type="button"
    class="favorite-button"
    [class.favorite-active]="isFavorite"
    (click)="onToggleFavorite()"
  >
    <mat-icon>
      {{ isFavorite ? "favorite" : "favorite_border" }}
    </mat-icon>

    {{ favoriteButtonText }}
  </button>
</div>
