<mat-card>
  <div class="card-title">
    <mat-card-title>Log in to account</mat-card-title>
  </div>

  <div mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="standard">
        <mat-label>Email address</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="email@example.com"
          type="email"
          required
        />
        <mat-error *ngIf="loginForm.controls.email.hasError('required')"
          >Email is required!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          required
        />
        <mat-error *ngIf="loginForm.controls.password.hasError('required')"
          >Password is required!</mat-error
        >

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="action-buttons">
        <button
          class="center-button"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="login()"
        >
          Log in
        </button>
      </div>
    </form>
  </div>
</mat-card>
<mat-card class="second-mat-card"
  ><small>
    You don't have an account? Register
    <a (click)="goToRegister()"> here.</a>
  </small></mat-card
>
