<div class="main-area">
  <app-promo-book-carousel [books]="promoBooks"></app-promo-book-carousel>

  <div class="shipping-info-container">
    <div class="shipping-box">
      <mat-icon class="shipping-icon">local_shipping</mat-icon>

      <div class="shipping-text">Livrare gratuită în librărie</div>
    </div>

    <div class="shipping-box">
      <mat-icon class="shipping-icon">shopping_cart</mat-icon>

      <div class="shipping-text">Livrare gratuită peste 200 lei</div>
    </div>
  </div>

  <app-multi-book-carousel [books]="newBooks"></app-multi-book-carousel>
</div>
