<mat-card class="delivery-card">
  <app-checkout-section-header
    [step]="2"
    title="Livrare"
    description="Alege modalitatea prin care dorești să primești comanda."
  ></app-checkout-section-header>

  <mat-radio-group
    class="delivery-options"
    [formGroup]="form"
    formControlName="method"
  >
    <label
      class="delivery-option"
      [class.selected]="form.get('method')?.value === 'COURIER'"
    >
      <mat-radio-button color="primary" value="COURIER"></mat-radio-button>

      <div class="option-content">
        <div class="option-title">
          <mat-icon>local_shipping</mat-icon>
          <span>Livrare prin curier</span>
        </div>

        <p>Comanda va fi livrată la adresa selectată.</p>
      </div>

      <strong class="delivery-price">12,90 lei</strong>
    </label>

    <label
      class="delivery-option"
      [class.selected]="form.get('method')?.value === 'PICKUP'"
    >
      <mat-radio-button color="primary" value="PICKUP"></mat-radio-button>

      <div class="option-content">
        <div class="option-title">
          <mat-icon>storefront</mat-icon>
          <span>Ridicare din librărie</span>
        </div>

        <p>BookLoop, Str. Matei Corvin nr. 46, Oradea.</p>
      </div>

      <strong class="delivery-price free">Gratuit</strong>
    </label>
  </mat-radio-group>
</mat-card>
