<mat-card>
  <div class="card-title">
    <mat-card-title>Register new account</mat-card-title>
  </div>

  <div mat-card-content>
    <form [formGroup]="registerForm">
      <mat-form-field appearance="standard">
        <mat-label>Email address</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="email@example.com"
          type="email"
          required
        />
        <mat-error *ngIf="registerForm.controls.email.hasError('required')"
          >Email is required!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.email.hasError('email')"
          >Email does not have a valid format!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required />
        <mat-error *ngIf="registerForm.controls.username.hasError('required')"
          >Username is required!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.username.hasError('minlength')"
          >Username must have minimum 5 characters!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.username.hasError('maxlength')"
          >Username must have maximum 50 characters!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.username.hasError('noSpaces')"
          >Username cannot contain spaces.</mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="standard"
        [ngClass]="{
          'password-field': registerForm.controls.password.hasError('pattern')
        }"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          required
        /><mat-error *ngIf="registerForm.controls.password.hasError('required')"
          >Password is required!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.password.hasError('minlength')"
          >Password must have minimum 8 characters!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.password.hasError('maxlength')"
          >Password must have maximum 20 characters!</mat-error
        >
        <mat-error *ngIf="registerForm.controls.password.hasError('pattern')"
          >Password must contain at least 1 capital letter, 1 small letter, 1
          digit and 1 symbol!</mat-error
        >

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="hide ? 'password' : 'text'"
          required
        /><mat-error
          *ngIf="registerForm.controls.confirmPassword.hasError('required')"
          >Password is required!</mat-error
        ><mat-error
          *ngIf="
            registerForm.controls.confirmPassword.hasError('comparePasswords')
          "
          >Passwords are not matching! Please try again!</mat-error
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="action-buttons">
        <button
          mat-raised-button
          class="center-button"
          color="primary"
          (click)="submitRegisterForm()"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</mat-card>
<mat-card class="second-mat-card"
  ><small>
    You already have an account? Log in <a (click)="goToLogin()"> here.</a>
  </small></mat-card
>
