.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.password-field {
  margin-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
}
