<div class="book-grid">
  <div class="book-card" *ngFor="let book of books">
    <img
      [src]="book.coverUrl"
      [alt]="book.bookName"
      (click)="goToSpecificBook(book.bookId)"
    />
    <h3>{{ book.bookName }}</h3>
    <p>Autor: {{ book.author }}</p>
    <p>Preț: {{ book.currentPrice | currency : "RON" : "code" }}</p>

    <app-action-buttons
      [isFavorite]="book.isFavorite"
      (addToCart)="addToCart(book)"
      (toggleFavorite)="toggleFavorite(book)"
    ></app-action-buttons>
  </div>
</div>
