<div class="shipping-info" [class.eligible]="isFreeShipping">
  <mat-icon>
    {{ isFreeShipping ? "local_shipping" : "info_outline" }}
  </mat-icon>

  <div>
    <ng-container *ngIf="!isFreeShipping; else eligible">
      <span>
        Mai adaugă produse de
        <strong>{{ difference | number: "1.2-2" }} Lei</strong>
        pentru livrare gratuită prin curier.
      </span>

      <small> Ridicarea din librărie este gratuită. </small>
    </ng-container>

    <ng-template #eligible>
      <span> Ai <strong>livrare gratuită prin curier</strong>. </span>

      <small> Poți alege și ridicarea gratuită din librărie. </small>
    </ng-template>
  </div>
</div>
