<div class="carousel-wrapper">
  <button class="nav-arrow left" (click)="prevSlide()">
    <mat-icon class="arrow-icon">chevron_left</mat-icon>
  </button>

  <div class="slider-container" [ngClass]="mode">
    <div class="slider-wrapper">
      <div
        class="slider-track"
        [style.transform]="
          'translateX(-' + currentSlide * (mode === 'multi' ? 20 : 100) + '%)'
        "
      >
        <div
          class="slide"
          *ngFor="let book of books"
          [ngClass]="{ 'multi-slide': mode === 'multi' }"
        >
          <img
            [src]="mode === 'single' ? book.promoImageUrl : book.coverUrl"
            [alt]="book.bookName"
            (click)="goToSpecificBook(book.bookId)"
          />
          <h4 *ngIf="mode === 'multi'">{{ book.bookName }}</h4>
        </div>
      </div>
    </div>
  </div>

  <button class="nav-arrow right" (click)="nextSlide()">
    <mat-icon class="arrow-icon">chevron_right</mat-icon>
  </button>
</div>
