<div class="carousel-wrapper" [ngClass]="'carousel-' + mode">
  <button
    *ngIf="books.length > 1"
    type="button"
    class="nav-arrow left"
    (click)="prevSlide()"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="slider-container" [ngClass]="mode">
    <div class="slider-wrapper">
      <div
        class="slider-track"
        [style.transform]="
          'translateX(-' + currentSlide * (mode === 'multi' ? 20 : 100) + '%)'
        "
      >
        <article
          class="slide"
          *ngFor="let book of books"
          [class.single-slide]="mode === 'single'"
          [class.multi-slide]="mode === 'multi'"
        >
          <button
            class="slide-content"
            type="button"
            (click)="goToSpecificBook(book.bookId)"
          >
            <img
              [src]="mode === 'single' ? book.promoImageUrl : book.coverUrl"
              [alt]="book.bookName"
            />

            <div class="book-card-content" *ngIf="mode === 'multi'">
              <h4>{{ book.bookName }}</h4>

              <p>{{ book.author }}</p>

              <strong>
                {{ book.currentPrice | currency: "RON" : "symbol" : "1.2-2" }}
              </strong>
            </div>
          </button>
        </article>
      </div>
    </div>
  </div>

  <button
    *ngIf="books.length > 1"
    type="button"
    class="nav-arrow right"
    (click)="nextSlide()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
